{% capture tempcategories %}
  {% for category in site.categories %}
    {{ category[1].size | plus: 1000 }}#{{ category[0] }}#{{ category[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtempcategories = tempcategories | split:' ' | sort | reverse %}
{% for tempcategory in sortedtempcategories %}
  {% assign categoryitems = tempcategory | split: '#' %}
  {% capture categoryname %}{{ categoryitems[1] }}{% endcapture %}
  <small><a href="/categories/{{ categoryname }}.html"><nobr>{{ categoryname }}</nobr></a></small>
{% endfor %}