{% capture default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (page.slug | fallback: default_slug) | downcase | replace: '.', '-' | replace: '_' : '-' }}{% endcapture %}
{% assign comments_map = site.data.comments[slug] %}
{% assign comments = site.emptyArray %}
{% for comment in comments_map %}
	{% assign comments = comments | push: comment[1] %}
{% endfor %}
{% assign comment_count = comments | size %}
{% if comment_count > 0 %}
	{% assign author = site.authors[page.author] %}
<p><br></p>
<div id="comments">
	<h3>Comments:</h3>
	<ul>
	{% assign sorted_comments = comments | sort: 'date' %}
	{% for comment in sorted_comments %}
		<li>
			{% include comment.html %}
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% if page.commenting == 'open' %}
	{% include comment-new.html %}
{% endif %}