<p>Leave a comment...</p>
<form action="/fake" method="post" id="commentform">
  <fieldset id="commentfields">
    <input name="redirect" type="hidden" value="{{ site.url }}{{ page.url }}">
    <input name="post_id" type="hidden" value="{{ slug }}">
    <input name="comment-site" type="hidden" value="{{ site.url }}">
	
	<label for="message">Message:</label>
	<textarea style="display: block;" name="message" id="message" placeholder="Blah blah blah blah."></textarea>

	<label for="name">Name/alias:</label>
    <input style="display: block;" type="text" name="name" id="name" value="Anonymous" />
    <button onclick="setupForm()" type="button" id="commentbutton">Post comment</button>
  </fieldset>
</form>
<script>
    function setupForm() {
      var status = document.getElementById('commentstatus')
      status.innerText = ''
      var requiredIds = [ 'message', 'name']
      var missing = requiredIds.filter(id => document.getElementById(id).value.length < 3)
      if (missing.length > 0) {
        status.innerText = 'These required fields are missing: ' + missing.join(', ') + '.'
        return
      }
      var button = document.getElementById('commentbutton')
      if (button.innerText != 'Confirm and post') {
        button.innerText = 'Confirm and post'
        return
      }
      var form = document.getElementById('commentform')
      form.action = '{{ site.comments.receiver }}'
      button.innerText = 'Posting...'
      button.disabled = true
      form.submit()
      var fields = document.getElementById('commentfields')                                         
      fields.disabled = true
    }
  </script>
<div id="commentstatus" style="clear:both" class="status"></div>
