<div class="postpreview">
	<header class="post-title"><h5><a href="{{ post.url }}">{{ post.title }}</a></h5></header>
	{{ post.excerpt | strip_html | truncatewords: 100}}
	<br>
	<img class="icon" src="/assets/images/calendar.svg">
	<p style="display: inline">{{ post.date | date_to_string}}</p>
	
	<img class="icon" src="/assets/images/tag.svg">
	{% for category in post.categories %}
		<a class="sans" style="display:inline;" href="/categories/{{ category }}.html">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
	{% endfor %}
</div>