@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-Regular.woff");
}
@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-Bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-Italic.woff");
    font-style: italic;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-Regular.woff");
}
@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-Bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-Italic.woff");
    font-style: italic;
}
@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}