@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-Regular.woff") format('woff'),
		url("/assets/fonts/LiberationSans/LiberationSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-Bold.woff") format('woff'),
		url("/assets/fonts/LiberationSans/LiberationSans-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-Italic.woff") format('woff'),
		url("/assets/fonts/LiberationSans/LiberationSans-Italic.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Liberation Sans";
    src: url("/assets/fonts/LiberationSans/LiberationSans-BoldItalic.woff") format('woff'),
		url("/assets/fonts/LiberationSans/LiberationSans-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-Regular.woff") format('woff'),
		url("/assets/fonts/LiberationSerif/LiberationSerif-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-Bold.woff") format('woff'),
		url("/assets/fonts/LiberationSerif/LiberationSerif-Bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-Italic.woff") format('woff'),
		url("/assets/fonts/LiberationSerif/LiberationSerif-Italic.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Liberation Serif";
    src: url("/assets/fonts/LiberationSerif/LiberationSerif-BoldItalic.woff") format('woff'),
		url("/assets/fonts/LiberationSerif/LiberationSerif-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}