$fontstackserif: "Liberation Serif", "Times New Roman", Times, Georgia, serif;
$pfontsizeserif: 1.25rem;
$h1fontsizeserif: $pfontsizeserif*2;
$h2fontsizeserif: $pfontsizeserif*1.5;
$h3fontsizeserif: $pfontsizeserif*1.25;
$lineheightserif: 1.25em;

$fontstacksans: "Liberation Sans", Arial, Helvetica, Verdana, sans-serif;
$fontratio: 1.125rem/$pfontsizeserif;
$lineheightsans: (1/$fontratio)*$lineheightserif;

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


html {
	height: 100%;
	min-height: ($pfontsizeserif 
		+ $h3fontsizeserif*$fontratio*($lineheightsans/1em) 
		+ $h1fontsizeserif*($lineheightserif/1em))*(903/270); 
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	color: #272726;
}
body {
	font-family: $fontstackserif;
	font-size: $pfontsizeserif;
	line-height: $lineheightserif;
	height: 100%;
	ul {list-style-type: none;}
	background-color: #272726;
}

*.sans {
	font-family: $fontstacksans;
	font-size: $fontratio*1em;
	line-height: $lineheightsans;
}

p.sans {
	font-size: $pfontsizeserif*$fontratio;
	line-height: $lineheightsans;
}

h1.sans {
	font-size: $h1fontsizeserif*$fontratio;
	line-height: $lineheightsans;
}

h2.sans {
	font-size: $h2fontsizeserif*$fontratio;
	line-height: $lineheightsans;
}

h3.sans, h4.sans, h5.sans {
	font-size: $h3fontsizeserif*$fontratio;
	line-height: $lineheightsans;
}

h1 {
	font-size: $h1fontsizeserif;
	line-height: $lineheightserif;
}

h2 {
	font-size: $h2fontsizeserif;
	line-height: $lineheightserif;
}

h3, h4, h5 {
	font-size: $h3fontsizeserif;
	line-height: $lineheightserif;
}

.icon {
	width: 1em;
	height: 1em;
}

#sitetitle {
	a {color: white;}
	position: absolute;
	bottom: $h3fontsizeserif*$fontratio*($lineheightsans/1em) + .5*$pfontsizeserif;
}

nav {
	a.sans {
		font-size: $h3fontsizeserif*$fontratio;
		line-height: $lineheightsans;
		color: #dfc598;
		text-outline: 1px #272726 solid;
	}
	position: absolute;
	bottom: 0.5*$pfontsizeserif;
}

#latestposts {
	h3, h4, h5, {font-weight: normal;}
	h3, h4 {
		font-size: $h2fontsizeserif*$fontratio;
	}
}

.postpreview {
	border-bottom: 1px solid black;
	max-width: 32*$pfontsizeserif;
	min-width: 0;
}

#sitewrapper {
	display: flex;
	flex-direction: row;
	min-width: 0;
	height: 100%;
	margin: 0 auto;
	max-width: 1920px;
	max-height: 903px;
}

#contentsidebarheader {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-grow: 1;
	width: 34*$pfontsizeserif;
	flex-shrink: 1;
	min-width: 0;
}

#siteheader {
	#background-top {
		position: fixed;
		top: 0;
		right: 0;
		z-index: -3;
		height: (270/903)*100%;
		min-height: 21*$pfontsizeserif*(270/903);
		transform: translateX(-1*(317/1200)*100%);
	}

	padding-left: $pfontsizeserif;
	padding-bottom: 0;
	padding-right: $pfontsizeserif;
	padding-top: $pfontsizeserif;
	min-height: $pfontsizeserif 
				+ $h3fontsizeserif*$fontratio*($lineheightsans/1em) 
				+ $h1fontsizeserif*($lineheightserif/1em);
	height: (270/903)*100%;
	flex-shrink: 0;
	min-width: 0;
	position: relative;
}


#contentsidebar {
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	min-width: 0;
	flex-shrink: 0;
	flex-grow: 1;
}

#content {
	padding-left: $pfontsizeserif;
	padding-bottom: $pfontsizeserif;
	padding-right: $pfontsizeserif;
	padding-top: $pfontsizeserif;
	width: 34*$pfontsizeserif;
	flex-grow: 100000;
	min-width: 0;
}

#sidebar {
	padding-left: $pfontsizeserif;
	padding-bottom: $pfontsizeserif;
	padding-right: $pfontsizeserif;
	padding-top: $pfontsizeserif;
	width: 12*$pfontsizeserif;
	background-color: #dfc598;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	//height: 100%;
}

.bodytext {
	p {
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 32em;
		min-width: 0;
	}
}

@media only screen and (min-width: 34*$pfontsizeserif) {
	#spacer1 {
		display: flex;
		height: 100%;
		min-height: 21*$pfontsizeserif;
		#background-left {
			height: 100%;
			min-height: 21*$pfontsizeserif;
			position: fixed;
			z-index: -2;
		}
		#background-left-2 {
			height: 100%;
			visibility: hidden;
			min-width: 0;
		}
		min-width: 0;
		flex-shrink: 10000000000;
	}

	#spacer3 {
		display: flex;
		height: 100%;
		min-height: 21*$pfontsizeserif;
		#background-right {
			height: 100%;
			//width: auto;
			min-height: 21*$pfontsizeserif;
			position: fixed;
			right: 0;
			z-index: -1;
		}
		#background-right-2 {
			height: 100%;
			visibility: hidden;
			min-width: 0;
		}
		min-width: 0;
		flex-shrink: 100000;
	}
}

@media only screen and (max-width: 34*$pfontsizeserif) {
	#spacer1 {
		width: 0;
		
		#background-left {
			display: none;
		}
		#background-left-2 {
			display: none;
		}
	}

	#spacer3 {
		width: 0;
		
		#background-right {
			display: none;
		}
		#background-right-2 {
			display: none;
		}
	}
	
	#siteheader {
		background-image: url("/assets/images/le-beau-soir-top-2.png");
		background-size: auto 100%;
		background-position: top right;
		background-repeat: no-repeat;
	}
}

@media only screen and (max-width: 21*$pfontsizeserif) {
	#siteheader {
		height: 2*$h3fontsizeserif*$fontratio*($lineheightsans/1em) 
				+ $h1fontsizeserif*($lineheightserif/1em);
	}
	nav {bottom: 0;}
	#sitetitle {
		font-size: $h2fontsizeserif; line-height: .75em; 
		bottom: $h3fontsizeserif*$fontratio*($lineheightsans/1em);
	}
	#sidebar {
		padding-left: .5*$pfontsizeserif;
		padding-bottom: .5*$pfontsizeserif;
		padding-right: .5*$pfontsizeserif;
		padding-top: .5*$pfontsizeserif;
	}
	#content {
		padding-left: .5*$pfontsizeserif;
		padding-bottom: .5*$pfontsizeserif;
		padding-right: .5*$pfontsizeserif;
		padding-top: .5*$pfontsizeserif;
	}
	#siteheader {
		padding-left: .5*$pfontsizeserif;
		padding-bottom: 0;
		padding-right: .5*$pfontsizeserif;
		padding-top: .5*$pfontsizeserif;
	}
}
