* {
	margin: 0;
	padding: 0;
}

footer {
	background-color: #ffcccc;
}
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

nav {
	background-color: #ccffcc;
}


body {
	background-color: #cccccc;
}

section {
	background: #ffffcc;
}

#content {
	margin: 0;
	float: left;
	width: 65%;
	header {
		text-align: center;
	}
	section {
		max-width: 600px;
		margin: 0 auto;
	}
	article {
		max-width: 600px;
		margin: 0 auto;
	}
}

#sidebar {
	text-align: center;
	float: right;
	width: 35%;
}

ul {
	list-style-type: none;
	li {
		background: white;
	}
}