#siteheader {
	background-color: #d7263d;
	a {
		color: #bfc0c0;
	}
	padding-left: 10px;
	padding-bottom: 2px;
}

#sitetitle {
	a {
		color: white;
		text-decoration-color: black;
		text-decoration-line: underline;
	}
}

#blogdescription {
	color: white;
	text-align: right;
	line-height: 0em;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 8px;
}
/*
@media only screen and (min-width: 730px) {
	#blogdescription {
		position: relative;
		display: inline;
		font-size: 1.17em;
		line-height: 0em;
		left: calc(100vw - 705px);
	}
	
}
*/
@media only screen and (min-width: 488px) {
	#blogdescription {
		color: white;
		text-align: center;
		line-height: 0em;
	}
}
@media only screen and (max-width: 488px) {
	#blogdescription {
		display: none;
	}
}

nav {
	a {text-decoration-line: underline;}
}

.current {
	color: green;
}