<!doctype html>
<html>
  <head>
	<meta name="viewport" content="width=1920, initial-scale=1.0">
	{% if site.categories != "" %}
		{% include collectcategories.html %}
	{% endif %}
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
	<div id="sitewrapper">
		<div id="spacer1"></div>
		<div id="contentsidebarheader">
			{% include siteheader.html %}
			<div id="contentsidebar">
				<div id="content">{{ content }}</div>
				<div id="spacer2"></div>
				<div id="sidebar">{% include sidebar.html %}</div>
			</div>
		</div>
		<div id="spacer3"></div>
	</div>
  </body>
</html>